.success-btn{
    border: 1px solid green;
    color: green;
    margin-right: 10px;
}
.warn-btn{
    border: 1px solid red;
    color: red;
    margin-right: 10px;
}
.meeting-btn{
    border: 1px solid #2196f3;
    color: #2196f3;
}