<div class="form-container">
    <form class="example-form" [formGroup]="clientInfoForm" (ngSubmit)="onSubmitClientDetail()">
        <mat-form-field class="example-full-width">
            <mat-label>Client Name</mat-label>
            <input formControlName="clientName" matInput placeholder="client name" value="Sushi">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let st of clientStatus" [value]="st.value">
                    {{st.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <button type="submit" [disabled]="clientInfoForm.invalid" mat-raised-button color="primary">{{btnText}}
            client</button>

    </form>
    <button class="mt-10" (click)="onSearch()" mat-raised-button>Search</button>
</div>