<div class="list-container" *ngIf="clientDetails.length>0">
    <div class="list-block" *ngFor="let info of clientDetails | searchClientInfo : searchValue">
        <div style="text-align: right;">
            <button (click)="onDelete(info.id)" class="mr-10" mat-mini-fab color="primary"
                aria-label="Example icon button with a menu icon">
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="onEdit(info)" mat-mini-fab color="primary"
                aria-label="Example icon button with a menu icon">
                <mat-icon>mode</mat-icon>
            </button>
        </div>
        <div>
            <div>Client name : {{info.clientName}}</div>
            <div
                [ngClass]="{'success-status': info.status == 'I am available', 'warn-status': info.status == 'I am available but not present', 'meeting-status': info.status == 'I am in meeting'}">
                Status : {{info.status}}</div>
        </div>
        <div>
            <ng-container *ngFor="let status of clientStatus">
                <button
                    [ngClass]="{'success-btn': status.value == 0, 'warn-btn': status.value == 1, 'meeting-btn': status.value == 2}"
                    mat-stroked-button (click)="onChangeStatus(status.viewValue, info)"
                    color="warn">{{status.viewValue}}</button>
            </ng-container>
        </div>
    </div>
</div>